.App {
  text-align: center;
}

.Emoji-header {
  font-size: 10em;
}

.Main-header {
  margin-top: 50px;
  color: #0f284f;
  font-size: 3.1em;
  font-weight: 700;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
