.App {
  text-align: center;
}

.Hash-block {
   background-color: #0f284f;
   margin-top: 10px;
   margin-bottom: 30px;
   padding: 30px;
   border-radius: 45px;
   display: inline-block;
   box-shadow: 0 3px 5px rgba(0,0,0,0.12), 0 3px 4px rgba(0,0,0,0.24);
   max-width: 68%;
   overflow: scroll;
}

@media only screen and (max-width: 600px) {

  .Hash-div {
    margin: auto;
    text-align: center;
  }

  .Hash-header {
    font-size: 1.15em;
    color: #0f284f;
    font-weight: 500;
  }

  .Main-header {
    margin-top: 50px;
    color: #0f284f;
    font-size: 1.8em;
    font-weight: 700;
  }

  .Code-block {
    color: white;
    font-size: 0.65em;
  }

  .Input-bar {
    margin-top: 30px;
    width: 68%;
    padding: 30px;
    padding-left: 45px;
    margin-bottom: 30px;
    font-size: 1.15em;
    color: #0f284f;
    border-radius: 45px;
    border-width: 0px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
  }
}

@media only screen and (min-width: 601px) {

  .Hash-div {
    margin: auto;
    text-align: center;
  }

  .Hash-header {
    font-size: 1.35em;
    color: #0f284f;
    font-weight: 500;
  }

  .Main-header {
    margin-top: 50px;
    color: #0f284f;
    font-size: 3.1em;
    font-weight: 700;
  }

  .Code-block {
    color: white;
    font-size: 0.85em;
  }

  .Input-bar {
    margin-top: 30px;
    width: 55%;
    padding: 30px;
    padding-left: 45px;
    margin-bottom: 30px;
    font-size: 1.35em;
    color: #0f284f;
    border-radius: 45px;
    border-width: 0px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
  }

  .Input-bar:hover {
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

input[type="text"], textarea, select { 
    outline: none;
}
